        h1 {
            text-align: center;
            color: rgb(185, 115, 255);
            background: rgb(91, 32, 121);
        p {
        }
            text-align: center;
            color: blue;
        }
        img {
            display: block;
            margin: 0px auto;

        }
ul {
    font-size: 20px;
    text-align: center;
}
.seguro{
    font-weight:bold;
}
.comprometidos{
    color: grey;
}
.emdia{
    text-align: center;
}
li{
    font-weight:bold
}                     

#link{
    color:red
}

#size{
    color:rgb(62, 3, 163)
}

#weight{
    color:blueviolet
}

#front{
    color:midnightblue
}

#align{
    color: darkorchid;
}