        h1 {
            text-align: center;
            color: rebeccapurple;
            background: red;
        p {
        }
            text-align: center;
            color: blue;
        }
        img {
            display: block;
            margin: 0px auto;

        }
ul {
    font-size: 20px;
    text-align: center;
}
.seguro{
    font-weight:bold;
}
.comprometidos{
    color: grey;
}
.emdia{
    text-align: center;
}
li{
    font-weight:bold
}                     

#link{
    color:red
}

#size{
    color:aquamarine
}

#weight{
    color:blueviolet
}